<iframe style="width: 100%;height:100%;" src="{{url}}" frameborder="0" sandbox="allow-forms allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox allow-top-navigation" allow="microphone; camera" title="{{'Meeting'|t}}"></iframe>
