<style>
  .ui-dialog{
    height: {{display_options.modal.height}} !important;
  }
  .ui-dialog-content{
    max-height: none !important;
    position: absolute !important;
    top: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  .block-virtual-events-block .btn.join-meeting{
    width: auto;
    margin: 27px auto;
  }
</style>
<a class="join-meeting use-ajax btn btn-accent"
    data-dialog-options="{&quot;width&quot;:&quot;{{display_options.modal.width}}&quot;}"
    data-dialog-type="modal"
    href="{{join_url}}">
    {{ display_options.join_button_text|t }}
</a>
